<!-- /templates/index.html  -->

    {% extends 'base.html' %}

    {% block content %}
<p></p>
{% if errorvar == 10 %}
<div class="alert alert-danger" role="alert">
  Невозможно подтвердить бронирование. Ресторан не работает в указанное время. Предупредите клиента, и удалите данную бронь!
</div>
{% endif %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="">Подтверждение бронирования</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/view_booking">Все брони</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/reg_booking">Бронирование столика</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/reg_new_admin">Регистрация нового пользователя</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/admin">Администрирование</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">Выход</a>
  </li>
</ul>

<p></p>
 {% if flights %}
                <table class="table table-bordered" id="flights">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col"><div class="d-flex justify-content-center">Номер брони</div></th>
                            <th scope="col"><div class="d-flex justify-content-center">Дата</div></th>
                            <th scope="col"><div class="d-flex justify-content-center">Время начала</div></th>
                            <th scope="col"><div class="d-flex justify-content-center">Время окончания</div></th>
                            <th scope="col"><div class="d-flex justify-content-center">№ столa</div></th>
                            <th scope="col"><div class="d-flex justify-content-center">Имя</div></th>
                            <th scope="col"><div class="d-flex justify-content-center">Телефон</div></th>
                            <th scope="col"><div class="d-flex justify-content-center">Подтвердить</div></th>
                            <th scope="col"><div class="d-flex justify-content-center">Отклонить</div></th>
                        </tr>
                    </thead>
                    <tbody>

                    {% for flight in flights %}
                        <tr id={{ flight.booking_id }}>
                            <td><div class="d-flex justify-content-center">{{ flight.booking_id}}</div></td>
                            <td><div class="d-flex justify-content-center">{{ flight.date_from }}</div></td>
                            <td><div class="d-flex justify-content-center">{{ flight.time_from }}</div></td>
                            <td><div class="d-flex justify-content-center"> {{ flight.time_to }} </div></td>
                            <td><div class="d-flex justify-content-center"> {{ flight.table_id }} </div></td>
                            <td><div class="d-flex justify-content-center"> {{flight.user_name }} </div></td>
                            <td><div class="d-flex justify-content-center"> {{flight.phone }} </div></td>
                            <td>
                                <form action="" method="POST" name="data" id="data">
                                    <div class="d-flex justify-content-center">
                                    <input type="hidden" name="index" value="0">
                                    <input type="hidden" name="buttonpressed"  value = {{flight.booking_id }}>
                                    <button class="btn btn-outline-success" style="width:150px;">Подтвердить</button>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form action="" method="POST" name="del">
                                    <div class="d-flex justify-content-center">
                                    <input type="hidden" name="index" value="1">
                                    <input type="hidden" name="booking_delete"  value = {{flight.booking_id }}>
                                    <button class="btn btn-outline-danger" style="width:150px;" onclick="return confirm('Вы точно хотите удалить запись о бронировании из списка?')">Отклонить</button>
                                    </div>
                                </form>
                            </td>

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
{% else %}
<div class="alert alert-success" role="alert">
    <div align="center">
        Ни одной новой записи о бронировании!
    </div>
</div>
{% endif %}

<script>

    setTimeout(function(){
    location.reload();
}, 10000);


</script>
    {% endblock %}