<!-- /templates/index.html  -->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    {% extends 'base.html' %}
<style>
    table.text  {
    width:  100%; /* Ширина таблицы */
    border-spacing: 0; /* Расстояние между ячейками */
   }
   table.text td {
    width: 50%; /* Ширина ячеек */
    vertical-align: top; /* Выравнивание по верхнему краю */
   }
   td.rightcol { /* Правая ячейка */
    text-align: right; /* Выравнивание по правому краю */
   }
</style>
    {% block content %}

<p></p>

{% for del_book in del_book_list %}
    <div class="alert alert-danger" role="alert" style="height: 65px;">
        <table>
            <tr id= {{del_book.booking_id}}>
                <td><strong>ОТМЕНА БРОНИРОВАНИЯ</strong>. Пользователь: <u>{{del_book.user_name}}</u>
                    Телефон: <u>{{del_book.user_phone}}</u>
                    Дата бронирования: <u>{{del_book.date_from}}</u>
                c <u>{{del_book.time_from}}</u> по <u>{{del_book.time_to}}</u>
                    № стола: <u>{{del_book.table_id}}</u>
                </td>
                <td style="position: absolute; right: 10;">
                    <form action="" method="POST" name="del_del_book">
                        <input type="hidden" name="index" value="10">
                        <input type="hidden" value="{{date}}" name="del_date">
                        <input type="hidden" name="deleted_booking_confirm"  value = {{del_book.booking_id }}>
                        <button class="btn btn-outline-danger" onclick="return confirm('Вы точно хотите удалить запись о бронировании из списка?')">X</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

{% endfor %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/">Подтверждение бронирования</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="">Все брони</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/reg_booking">Бронирование столика</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/reg_new_admin">Регистрация нового пользователя</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/admin">Администрирование</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">Выход</a>
  </li>
</ul>

<p></p>
                <form action="" method="POST" name="booking" id='voting_form'>
                                    <div class="d-flex justify-content-center">
                                        <input type="hidden" name="index" value="0">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">Дата бронирования</span>
                                            </div>
                                            <input onchange='document.getElementById("voting_form").submit();' type="date" id="date_booking" name="date_booking" class="form-control" placeholder="Введите дату бронирования" aria-label="Username" aria-describedby="basic-addon1" value="{{date}}">
                                            <button id="button_load_date" class="btn btn-outline-primary" style="width:150px; display: none;">Загрузить</button>

                                        </div>
                                    </div>
                </form>
 {% if flights %}
                <table class="table table-bordered" id="flights">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col"><div class="d-flex justify-content-center">Номер брони</div></th>
                            <th scope="col"><div class="d-flex justify-content-center">Дата</div></th>
                            <th scope="col"><div class="d-flex justify-content-center">Время начала</div></th>
                            <th scope="col"><div class="d-flex justify-content-center">Время окончания</div></th>
                            <th scope="col"><div class="d-flex justify-content-center">№ столa</div></th>
                            <th scope="col"><div class="d-flex justify-content-center">Имя</div></th>
                            <th scope="col"><div class="d-flex justify-content-center">Телефон</div></th>
                            <th scope="col"><div class="d-flex justify-content-center">Удалить запись</div></th>
                        </tr>
                    </thead>
                    <tbody>

                    {% for flight in flights %}
                        <tr id={{ flight.booking_id }}>
                            <td><div class="d-flex justify-content-center">{{ flight.booking_id}}</div></td>
                            <td><div class="d-flex justify-content-center">{{ flight.date_from }}</div></td>
                            <td><div class="d-flex justify-content-center">{{ flight.time_from }}</div></td>
                            <td><div class="d-flex justify-content-center"> {{ flight.time_to }} </div></td>
                            <td><div class="d-flex justify-content-center"> {{ flight.table_id }} </div></td>
                            <td><div class="d-flex justify-content-center"> {{flight.user_name }} </div></td>
                            <td><div class="d-flex justify-content-center"> {{flight.phone }} </div></td>

                            <td>
                                <form action="" method="POST" name="del">
                                    <div class="d-flex justify-content-center">
                                    <input type="hidden" name="index" value="1">
                                        <input type="hidden" value="{{date}}" name="del_date">
                                    <input type="hidden" name="booking_delete"  value = {{flight.booking_id }}>
                                    <button class="btn btn-outline-danger" style="width:150px;" onclick="return confirm('Вы точно хотите удалить запись о бронировании из списка?')">Удалить</button>
                                    </div>
                                </form>
                            </td>

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
{% else %}
<div class="alert alert-success" role="alert">
    <div align="center">
        На выбранный день ни один столик не забронирован!
    </div>
</div>
{% endif %}


<script>
    setTimeout(function(){
    location.reload();
}, 10000);


</script>
    {% endblock %}